@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Overlock&family=Sanchez&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  background-color: rgb(29, 29, 29);
}
.cabecera .logoNavbar {
  max-width: 100%;
  max-height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cabecera .nav-texto {
  list-style: none;
  text-decoration-line: none;
  text-decoration: none;
  padding-right: 4rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .cabecera .nav-texto {
    font-size: 1.5rem;
  }
}
.cabecera {
  background-color: rgb(29, 29, 29);
}
.cabecera .letra-productos {
  font-family: "BenchNine", sans-serif;
  font-size: 3rem;
}
.cabecera .letra-especialidades {
  font-family: "Overlock", cursive;
  font-size: 2rem;
}

.cajaFondoPrincipal {
  height: 90vh;
  background-image: url(../assets/img/entremigas/presentacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cajaFondoPrincipal .titulo {
  font-family: "BenchNine", sans-serif;
  font-size: 10rem;
  color: black;
}
.cajaFondoPrincipal .subtitulo {
  font-family: "Sanchez", serif;
  font-size: 5rem;
  color: black;
}

@media screen and (max-width: 768px) {
  .cajaFondoPrincipal .cajaTituloPrincipal {
    padding-top: 100px;
    text-align: center;
  }
  .cajaFondoPrincipal .cajaTituloPrincipal .titulo {
    font-size: 7rem;
    color: rgb(255, 130, 1);
  }
  .cajaFondoPrincipal .cajaTituloPrincipal .subtitulo {
    font-size: 2rem;
    font-weight: bold;
  }
}
.cardsMain {
  background-image: url(../assets/img/fondo-nav2.PNG);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}
.cardsMain .letra-tipos-productos {
  font-family: "BenchNine", sans-serif;
  font-size: 2rem;
}
.cardsMain .letra-lista-productos {
  font-family: "Overlock", cursive;
  font-size: 1.5rem;
}

.textoNosotros {
  font-family: "Overlock", cursive;
  font-size: 1.5rem;
}

.tituloNosotros {
  font-family: "BenchNine", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.fondoMainContacto {
  background-image: url(../assets/img/fondo-nav2.PNG);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

.formatoBoton {
  background-color: rgb(29, 29, 29);
}

.btn:hover {
  background-color: rgb(255, 130, 1);
}

.fondoSucursales {
  background-image: url(../assets/img/fondo-nav2.PNG);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .fondoSucursales {
    background-color: rgb(29, 29, 29);
    background-image: none;
  }
  .etiquetaVideo {
    display: none;
  }
}
.sucursalPrincipal {
  background-color: rgb(255, 130, 1);
}

.sucursalCentro {
  background-color: rgb(213, 196, 41);
}

.cajaSucursalCentro {
  background-color: rgb(255, 241, 177) !important;
}

footer {
  display: flex;
  background-color: rgb(29, 29, 29);
  color: white;
}
footer .bloqueFooter {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .bloqueFooter .logoNavbar {
  max-width: 100%;
  max-height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .bloqueFooter .redes-sociales {
  display: flex;
  cursor: pointer;
}
footer .texto-footer {
  display: flex;
}

@media screen and (max-width: 768px) {
  .bloqueInfoFooter {
    margin-top: 70px;
  }
}/*# sourceMappingURL=estilos.css.map */