.textoNosotros {
    font-family: $tipografia-textocards;
    font-size: map-get($map: $mapa-tamañosFuentes, $key: fuente-xs );
}

.tituloNosotros {
    font-family: $tipografia-tituloprincipal;
    font-size: map-get($map: $mapa-tamañosFuentes, $key: fuente-m );
    font-weight: bold;
}