.fondoMainContacto {

    background-image: url(../assets/img/fondo-nav2.PNG);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;

}


.formatoBoton {
    background-color: $color-primario;      }

.btn:hover {
    background-color: $color-secundario;
}





