// Colores
$color-primario: rgb(29, 29, 29);

//Tipografia
$tipografia-tituloprincipal: 'BenchNine', sans-serif;
$tipografia-subtituloprincipal: 'Sanchez', serif;
$tipografia-textocards: 'Overlock', cursive;

//Mapa de tamaño de fuentes
$mapa-tamañosFuentes: (
    fuente-xs: 1.5rem,
    fuente-s: 2rem,
    fuente-m: 3rem,
    fuente-l: 5rem,
    fuente-xl: 7rem,
    fuente-xxl: 10rem,
)